:root {
    --humidity: 100%;
    --windDeg: 0;
    --color-white : #E3E9CD;
    --color-darkBlue : #104D7A;
    --color-black : #02121E;
    --color-primary : #99D98C;

}

body {
    background-color: $color-darkBlue;
    padding: 1em;
}

.container {
    width: 100%;

}

a {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    background-color: $color-white;
    color: $color-darkBlue;
    text-decoration: none;
}