html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --humidity: 100%;
  --windDeg: 0; }

body {
  background-color: #104D7A;
  padding: 1em; }

.container {
  width: 100%; }

a {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  background-color: #E3E9CD;
  color: #104D7A;
  text-decoration: none; }

.cursor {
  height: 0.43em;
  width: 100%;
  background-color: #02121E;
  position: relative;
  border-radius: calc(0.43em /2); }
  .cursor::before {
    content: '';
    display: block;
    width: 1.25em;
    height: 1.25em;
    background-color: #99D98C;
    position: absolute;
    top: 50%;
    left: calc((var(--humidity)) - 1.25em);
    transform: translatey(-50%);
    border-radius: calc(1.25em/2); }

.wind {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center; }
  .wind__orientation {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    background-image: url("../img/boussole.svg");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }
    .wind__orientation img {
      position: absolute;
      transform: rotate(var(--windDeg)); }
  .wind__speed {
    color: #E3E9CD;
    font-size: 2em; }

.header {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56em;
  position: relative; }
  .header__form {
    display: flex;
    justify-content: center;
    gap: 0.56em; }
    .header__form .input-group {
      display: flex;
      align-items: center;
      background-color: #E3E9CD;
      border: 3px solid #E3E9CD;
      border-radius: 1em;
      position: relative; }
      .header__form .input-group .cities {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #E3E9CD;
        margin-top: 1em;
        padding: 1em;
        border-radius: 1em;
        display: none; }
        .header__form .input-group .cities.open {
          display: block; }
    .header__form label {
      display: flex;
      align-items: center; }
    .header__form input {
      border: none;
      background-color: #E3E9CD;
      color: #104D7A; }
      .header__form input:focus {
        outline: none; }
    .header__form button {
      background-color: #104D7A;
      border: none;
      width: 2.3em;
      height: 2.3em;
      border-radius: 1em;
      color: #E3E9CD; }
  .header__nav button {
    width: 1.31em;
    height: 2em;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: contain;
    margin: 0;
    padding: 0; }
  .header__nav ul {
    top: 100%;
    position: absolute;
    visibility: hidden;
    display: none;
    right: 0;
    left: 0; }
    .header__nav ul.open {
      display: block;
      visibility: visible; }
  .header__nav a {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    background-color: #E3E9CD;
    color: #104D7A;
    text-decoration: none; }

.city-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em; }
  .city-weather__header {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .city-weather__header h1 {
      font-weight: 600;
      font-size: 1em;
      color: #E3E9CD; }
    .city-weather__header button {
      background-color: transparent;
      border: none;
      background-image: url("../img/fav.svg");
      width: 1.5em;
      height: 1.5em;
      background-position: center;
      background-size: contain; }
      .city-weather__header button.selected {
        background-image: url("../img/fav-selected.svg"); }
  .city-weather .maindatas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    width: 100%;
    color: #E3E9CD; }
    .city-weather .maindatas .big-logo-weather {
      width: 10em; }
    .city-weather .maindatas .degrees {
      font-size: 2em;
      font-weight: 600; }

.days-list {
  display: flex;
  width: 100%;
  overflow-x: hidden scroll;
  overflow-y: hidden;
  padding: 1em; }
  .days-list .day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .days-list .day__img {
      width: 100px; }

.chart-hours {
  max-width: 600px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
